* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "termina-regular";
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "voltage";
  font-weight: 400; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto; }

.banner {
  padding: 5em 0; }
  .banner .logo {
    float: left; }
  .banner h1 {
    color: #333;
    display: inline;
    float: right;
    font-size: 3em;
    margin: 0;
    text-align: right; }
  .banner h4 {
    color: #73e298;
    float: right;
    font-size: 2em;
    margin: 0;
    position: relative;
    top: 60px;
    left: 257px;
    text-align: right; }

.logo {
  background: #73e298;
  border-radius: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 60px; }

hr {
  height: 5px;
  border: 0;
  border-top: 1px solid #333;
  margin: 1em 0;
  padding: 0;
  position: relative;
  top: 30px;
  width: 100%; }

.row {
  width: 100%;
  margin-bottom: 2em; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.hero {
  padding: 5em 0; }
  .hero .p_title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: voltage-regular; }
  .hero .card {
    background: #fff;
    border-radius: .35em;
    height: 450px;
    display: table;
    background-repeat: no-repeat; }
  .hero .card_full {
    width: 100%; }
  .hero .card_half {
    width: 48.5%;
    float: left; }
  .hero .left {
    margin-right: 1.5%; }
  .hero .right {
    margin-left: 1.5%; }
  .hero .card_1 {
    background-image: url("../img/design.png");
    background-size: 100%;
    background-position: 290px 20px; }
  .hero .card_2 {
    background-image: url("../img/Python.png");
    background-size: 100%;
    background-position: 1px 1px; }
  .hero .card_3 {
    background-image: url("../img/countdown.gif");
    background-size: 100%;
    background-position: 0px 0px; }
  .hero .card_inner {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 1.5em 10%; }
    .hero .card_inner p {
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 700; }
    .hero .card_inner h2 {
      font-size: 3em;
      margin: 0; }
    .hero .card_inner .git_movie {
      padding: 10px;
      text-decoration: none;
      color: #fff;
      background-color: #73e298;
      border-radius: .35em;
      position: relative;
      top: 10px; }
  .hero .green, .hero .blue, .hero .orange {
    border-radius: .35em; }
  .hero .green {
    background: rgba(115, 226, 152, 0.6); }
  .hero .blue {
    background: rgba(179, 255, 255, 0.6); }
  .hero .orange {
    background: rgba(241, 85, 0, 0.6); }

footer {
  background: #333;
  padding: 6em 0; }
  footer .green {
    color: #73e298;
    font-size: 3em; }
  footer p {
    color: #fff; }
  footer span {
    color: #f15500; }
  footer .s_links {
    float: right;
    position: relative;
    bottom: 50px; }
    footer .s_links p {
      color: #fff;
      font-weight: 400; }
    footer .s_links i {
      color: #fff;
      padding-right: 10px; }
