@charset "UTF-8";
/* CSS Document */

html,
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gotham, Helvetica Neue, Helvetica, Arial, " sans-serif";
}
header {
    padding: 32px;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
body {
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}
.style-logo {
    margin-left: auto;
    margin-right: auto;
    float: left;
    display: block;
    width: 100px;
    height: 150px;
}
.hero {
    background-size: cover;
}
h1 {
    color: #333;
    font-size: 57px;
    float: right;
    font-weight: 200;
    text-align: center;
    position: relative;
    top: 50px;
}
span {
    color: #73e298;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 23px;
    text-align: center;
}
p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    text-align: center;
}
a {
    text-align: center;
}
.col {
    width: 100%;
}
.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
/* Phone View */

@media (max-width: 765px) {
    body {
        max-width: 770px;
    }
    .style-logo {
        max-width: 80px;
        max-height: 100px;
    }
    h1 {
        font-size: 20px;
        margin-bottom: 70px;
    }
    h3 {
        padding-top: 35px;
        padding-right: 0;
        padding-bottom: 35px;
        padding-left: 0;
    }
    .col {
        float: left;
    }
}
/*Tablet View*/

@media (min-width: 768px) {
    body {
        max-width: 778px;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 90px;
    }
    h3 {
        padding-top: 35px;
        padding-right: 0;
        padding-bottom: 35px;
        padding-left: 0;
    }
    .col {
        float: left;
        padding: 0px 7px 14px;
    }
}
/*Desktop View*/

@media (min-width: 1024px) {
    body {
        max-width: 1200px;
    }
    .style-logo {
        float: left;
    }
    .col-lg-one-fourth {
        width: 25%;
    }
}