$dark: #333;
$green: #73e298;
$blue: #b3ffff;
$orange: #f15500;
$white: #fff;

@mixin bg-img($url, $position, $size) {
	background-image: url($url);
	background-size: $size;
	background-position: $position;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "termina-regular";
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "voltage";
	font-weight: 400;
}

.cf:before, .cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.wrapper {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}

.banner {
	padding: 5em 0;
	.logo {
		float: left;
	}
	h1 {
		color: $dark;
		display: inline;
		float: right;
		font-size: 3em;
		margin: 0;
		text-align: right;
	}
	h4 {
		color: $green;
		float: right;
		font-size: 2em;
		margin: 0;
		position: relative;
		top: 60px;
		left: 257px;
		text-align: right;
	}
}

.logo {
	background: $green;
	border-radius: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	width: 60px;
}

hr {
	height: 5px;
	border: 0;
	border-top: 1px solid $dark;
	margin: 1em 0;
	padding: 0;
	position: relative;
	top: 30px;
	width: 100%;
}

.row {
	width: 100%;
	margin-bottom: 2em;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.hero {
	padding: 5em 0;
	// Card style for text background
	.p_title {
		color: $white;
		text-transform: uppercase;
		font-weight: 700;
		font-family: voltage-regular;
	}
	.card {
		background: $white;
		border-radius: .35em;
		height: 450px;
		display: table;
		background-repeat: no-repeat;
	}
	.card_full {
		width: 100%;
	}
	.card_half {
		width: 48.5%;
		float: left;
	}
	.left {
		margin-right: 1.5%;
	}
	.right {
		margin-left: 1.5%;
	}
	.card_1 {
		@include bg-img('../img/design.png', 290px 20px, 100%);
	}
	.card_2 {
		@include bg-img('../img/Python.png', 1px 1px, 100%);
	}
	.card_3 {
		@include bg-img('../img/countdown.gif', 0px 0px, 100%);
	}
	.card_inner {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		padding: 1.5em 10%;
		p {
			font-size: 1em;
			text-transform: uppercase;
			font-weight: 700;
		}
		h2 {
			font-size: 3em;
			margin: 0;
		}
		.git_movie {
			padding: 10px;
			text-decoration: none;
			color: $white;
			background-color: $green;
			border-radius: .35em;
			position: relative;
			top: 10px;
		}
	}
	.green, .blue, .orange {
		border-radius: .35em;
	}
	.green {
		background: rgba(115, 226, 152, .6);
	}
	.blue {
		background: rgba(179, 255, 255, .6)
	}
	.orange {
		background: rgba(241, 85, 0, .6)
	}
}

footer {
	background: $dark;
	padding: 6em 0;
	.green {
		color: $green;
		font-size: 3em;
	}
	p {
		color: $white;
	}
	span {
		color: $orange;
	}
	.s_links {
		float: right;
		position: relative;
		bottom: 50px;
		p {
			color: $white;
			font-weight: 400;
		}
		i {
			color: $white;
			padding-right: 10px;
		}
	}
}
